.markdown {
    h2 {
        @apply .text-2xl;
        @apply .font-extrabold;
        @apply .tracking-tight;
        @apply .text-gray-700;
        @apply .leading-8;
        @apply .mb-4;
    }

    p {
        @apply .text-gray-600;
        @apply .leading-relaxed;
        @apply .mb-6;
    }

    ol {
        @apply .list-decimal;
        @apply .pl-10;

        li {
            @apply .mb-4;

            ul {
                @apply .pl-4;
                @apply .list-disc;

                li {
                    @apply .text-gray-500;
                    @apply .text-sm;
                    @apply .mb-0;
                }
            }
        }
    }

    ul {
        @apply .list-disc;
        @apply .pl-10;

        li {
            @apply .mb-4;

            ul {
                @apply .pl-4;
                @apply .list-disc;

                li {
                    @apply .text-gray-500;
                    @apply .text-sm;
                    @apply .mb-0;
                }
            }
        }
    }
}
